footer{
 position: absolute;
 bottom: 0;
 width: 100%;
 padding: 3em;
 background-color: #1D586C;
}

.btn{
    border-radius: 20px;
    width:120px;
    height:45px;
    background-color: #E399A9;
    font-weight: bold;
}
