.letters {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-bottom: 2px solid gray;
}
.dashes {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.white-text {
  color: white;
}
.black-text {
  color: black;
}

.matchedLtrs{
      width: 50%;

}